@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center{
  align-self: center;
}

@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 700px) {
  .PlansSecondHeading{
    text-align: justify;
  }
}

@font-face {
  font-family: 'Roundhand-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roundhand-Regular'), url('Roundhand Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Roundhand-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roundhand-Bold'), url('Roundhand Bold.woff') format('woff');
  }

.LogoHome {
  grid-area: logo;
  height: 120px;
  align-self: center;
  margin-top: 100px;
}


.LivingHome{
  font-size: 50px;
  font-family: 'Bungee Inline', cursive;
  color: #d9a759;
  padding: 0%;
  margin: 0%;
}

.GoldenLine{
  background-color: #d9a759;
  outline-color: #d9a759;
  margin-top: 50px;
  border: 0;
  margin-bottom: 0%;
  height: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}


.flex-container > div {
  background-color: #f1f1f1;
  text-align: center;
}

.flex-container>img {
  min-height: 0;
  height: 30vh;
  width: 33.33333%;
}

.rowFlex {
  display: flex;
  flex-direction: row;
}

.ServiceHome{
  font-size: 65px;
  font-family:'Roundhand-Regular';
  color: #d9a759;
  padding: 0%;
  margin: 0%;
}

.HomeText{
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 25px;
  text-align: center;
  color: #1a2b5f;
}

.PlansText{
  font-size: 18px;
  text-align: left;
  padding-right: 20px;
  color: #1a2b5f;
}

.Cell-Width{
  width: fit-content;
}

.ul{
  text-align: justify;
}

.ul-none{
  text-align: justify;
  list-style: none;
}

.ul-none > li{
  color: #1a2b5f;
  font-weight: bold;
}


.ul > li{
  color: #1a2b5f;
}

.HomeHeading{
  font-size: 40px;
  text-transform: uppercase;
  color: #2e4eac;
}

.HomeSecondHeading{
  font-size: 35px;
  text-transform: uppercase;
  color: #2e4eac;
}

.PlansSecondHeading{
  font-size: 35px;
  text-align: justify;
  text-transform: uppercase;
  color: #d9a759;
}

.FooterHeading{
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #d9a759;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
